{% extends './base.html' %}
{% block title %}Account Administration{% endblock %}
{% block content %}
<h1>User Administration</h1>
<form class="flex-form" method="GET">
  <input type="text" id="filter" name="filter"
          value="{{ request.GET.filter }}">
  <button type="submit">Filter</button>
</form>
{% if request.GET.filter %}
<p>User name that contains: <b>{{ request.GET.filter }}</b></p>
{% endif %}
{% if user_list|length > 0 %}
<table>
  <tr>
    <th>User Name</th><th>Email</th><th>Date Joined</th><th>Action</th>
  </tr>
  {% for user in user_list %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.date_joined | date:'Y-m-d H:i' }}</td>
    <td>
    {% if not user.is_staff and user != request.user %}
    <form method="POST" action="{% url 'accounts:delete' user.pk %}">
      {% csrf_token %}
      <button class="danger" type="submit">Delete</button>
    </form>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<h3>Your filter result returned nothing.</h3>
{% endif %}
<p>
  Click <a href="{% url 'accounts:logout' %}">here to logout</a>.
</p>
{% endblock %}