:root {
  --input-width: 400px;
  --input-horizontal-padding: 6px;
  --label-width: 120px;
  --paragraph-vertical-margin: 1em;
}

form > p {
  display: flex;
  margin: var(--paragraph-vertical-margin) 0;
}

input, select {
  margin: 5px 10px;
}

input[type="url"],
input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  border: 1px solid;
  font-size: 1.2rem;
}

input[type="url"],
input[type="text"],
input[type="password"],
input[type="email"] {
  max-width: var(--input-width);
  padding: 0 var(--input-horizontal-padding);
  height: 30px;
}

select {
  max-width: calc(var(--input-width) + 2px + 2*var(--input-horizontal-padding));
  height: 34px;
}

label {
  font-weight: bold;
  width: var(--label-width);
  display: flex;
  align-items: center;
}

.helptext {
  display: flex;
  align-items: center;
  color: gray;
}

ul.errorlist {
  list-style-type: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(0px - var(--paragraph-vertical-margin));
  margin-left: calc(var(--label-width) + 5px + var(--input-horizontal-padding));
  padding: 0;
  color: red;
}
